
:root {
    --arial-font: "Arial";
    --copperplate-font: "Copperplate Gothic Bold";
    --cerebrovascular-bg: #95d6DD;
    --epilepsy-bg: #E8F0B4;
    --functional-bg: #9ACC81;
    --general-bg: #DDD3C2;
    --pain-bg: #D9CDA0;
    --pediatric-bg: #D6CFBB;
    --peripheral-bg: #FEAC77;
    --spine-bg: #FEFD00;
    --title-bg: #091584;
    --trauma-bg: #21489C;
    --tumor-bg: #FB13F5;
    --spine-font: #2927FF;

}

html, body {
    scroll-behavior: smooth;
}

.wtd {
    font-family: var(--copperplate-font);
}

.preline {
    white-space: pre-line;
}
/*Class Attributes*/

.cerebrovascular {
    background: var(--cerebrovascular-bg);
}

.epilepsy {
    background: var(--epilepsy-bg);
}

.functional {
    background: var(--functional-bg);
}

.general {
    background: var(--general-bg);
}

.pain {
    background: var(--pain-bg);
}


.pediatric {
    background: var(--pediatric-bg);
}

.peripheral {
    background: var(--peripheral-bg);
}
.spine {
    background: var(--spine-bg);
    color: var(--spine-font);
}
.title {
    background: var(--title-bg);
    color: white;
}

.trauma {
    background: var(--trauma-bg);
}

.tumor {
    background: var(--tumor-bg);
}
.navImage {
    margin: 2px;
    width: 100px;
    height: 100px;
    margin-right: 5%;
}

.question {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

/*.categoryTable {*/
/*    margin-left: auto;*/
/*    margin-right: auto*/
/*}*/

a:hover {
    text-decoration: none;
}
html, body {
    scroll-behavior: smooth;
}
/*li {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    list-style: none;*/
/*    font-size: 40px;*/
/*    margin-top: 40px;*/
/*    position: relative;*/
/*    color: var(--color-dark);*/
/*    font-family: var(--copperplate-font);*/
/*}*/

li {
    list-style: none;
    margin: 10px;
}

table {
    font-family: var(--arial-font);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    text-align: center;
}

.regionHeader {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 100%;
    background-color: #f8f9fa;
}
.titleImg {
    height: 15vw;
    width: 150px;
    height: 150px;
}

th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
}

.centered {
    text-align: center;
}

.backButton {
    font-size: 1.3em;
}

.regionLinks {
    max-height: 30vw;
    overflow-y: scroll;
}

.menuText {
    /*font-size: 3vw;*/
    /*min-font-size: 32px;*/
    /*font-size: 3vw;*/
    font-size:calc(16px + 1.6vw);
}


li {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
    position: relative;
}
/*.jumbotron {*/
/*    background-color: #252f40;*/
/*}*/


